*.pyc
*.swp

.idea/
.cache/

data/*
export/*
docs/site
docs/_site
projects/
venv/*
examples/__pycache__/
examples/data/
/data/
/examples/notebooks/.ipynb_checkpoints/
examples/tests/data/
examples/tests/decoders/batch_tests/
examples/tests/decoders/readout_tests/
